@import color.sass

body
  background-color = !light_gray
  margin: 0
  padding: 0
  font-family: Lucida Grande
a img 
  border: none
h1
  font-family: Arial
  font-size: 24pt
  font-weight: normal
form label 
  display: block
#header
  #flash
    width: 100%
    position: absolute
    h1
      margin-left: 20px
    #message
      position: absolute
      width: 100% 
      background-color = !dark_gray
      p.notice
        margin: 0
        padding: 0
        color = !blue
      p.error
        margin: 0
        padding: 0
        color = !red
      a
        color: white
#navigation
  height: 50px
  background-color = !med_gray
  #icon
    margin: 0
    padding: 0
    float: right
  a
    color = !purple
    float: left
    padding: 10px 0 0 0
    text-align: center
    width: 100px
    height: 38px
    border-right = "1px" "solid" !dark_gray
#content
  margin: 100px 0 0 0
#center
  float: left
  background: #FFFFFF url(/images/right-bg.gif) repeat-y scroll right center
  width: 60% 
  margin: 30px 0 0 50px
  padding: 5px 10px 0 10px
  #focus_capacities
    #capacity_today_table
      margin: 0 auto
      width: 90% 
      border-collapse: collapse
    thead
      tr
        color = !white
        background-color = !med_gray
      th
        text-align: left
        font-size: 9pt 
    tbody
      tr
        border = "1px" "solid" !white
      tr.covered
        background-color = !light_gray
        color = !light_gray - 50
        td
          text-decoration: line-through
      tr.normal
        background-color = !blue
      tr.high
        background-color = !orange
      tr.top
        background-color = !red
      td
        font-size: 14pt
      td.edit
        width: 30px
      td.delete
        width: 30px
  .new_link
    margin: 20px 0 0 30px
  #capacity_form
    width: 500px
    margin: 40px auto 0 auto
    padding: 0 0 15px 0
    overflow: hidden
    .form_box
      margin: 0 10px 0 10px
      float: left
    .form_box_right
      margin: 0 7px 0 0
      float: right
    .buttons
      clear: both
      float: right
      margin: 10px
    form
      background-color= !light_gray

#right
  float: right
  background-color = !white
  width: 25% 
  height: 560px
  background: #FFFFFF url(/images/left-bg.gif) repeat-y scroll left center
  margin: 0 0 0 40px
  padding: 0 0 0 7px 
  #link
    :background-color = !dark_gray
    :border-bottom = "solid" "2px" !med_gray
    :padding 5px
    a
      :text-decoration none
      :margin 0 8px 0 10px
      :color = !white



