@import color.sass

#capacities
  .capacity
    width: 250px
    height: 125px
    margin: 15px 5px 0 12px
    padding: 2px
    border: 1px solid black
    h3
      margin: 5px 0 0 5px
      font-weight: normal
      font-family: Arial
      font-size: 14pt
      a
        :font-size 16px
    a
      :font-size 10px
      :margin 5px 0 0 4px
  table 
    margin: 0 0 0 10px
    width: 90%
    td
      font-size: 10pt
  .today
    border = "3px" "solid" !red
#move_forward
  text-align: center
  height: 25px
  width: 100%
  color: white
  background-color = !dark_gray
  padding: 4px 0 0 0
  margin: 20px 0 0 0
#move_back
  text-align: center
  height: 25px
  width: 100%
  color: white
  background-color = !dark_gray
  padding: 4px 0 0 0
  margin: 0 0 0 0

