body {
  background-color: #e8e8e8;
  margin: 0;
  padding: 0;
  font-family: Lucida Grande; }

a img {
  border: none; }

h1 {
  font-family: Arial;
  font-size: 24pt;
  font-weight: normal; }

form label {
  display: block; }

#header #flash {
  width: 100%;
  position: absolute; }
  #header #flash h1 {
    margin-left: 20px; }
  #header #flash #message {
    position: absolute;
    width: 100%;
    background-color: #333333; }
    #header #flash #message p.notice {
      margin: 0;
      padding: 0;
      color: #99ccff; }
    #header #flash #message p.error {
      margin: 0;
      padding: 0;
      color: #ff6666; }

#navigation {
  height: 50px;
  background-color: #666666; }
  #navigation #icon {
    margin: 0;
    padding: 0;
    float: right; }
  #navigation a {
    color: #333366;
    float: left;
    padding: 10px 0 0 0;
    text-align: center;
    width: 100px;
    height: 38px;
    border-right: 1px solid #333333; }

#content {
  margin: 100px 0 0 0; }

#center {
  float: left;
  background: #FFFFFF url(/images/right-bg.gif) repeat-y scroll right center;
  width: 60%;
  margin: 30px 0 0 50px;
  padding: 5px 10px 0 10px; }
  #center #focus_capacities #capacity_today_table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse; }
  #center #focus_capacities thead tr {
    color: white;
    background-color: #666666; }
  #center #focus_capacities thead th {
    text-align: left;
    font-size: 9pt; }
  #center #focus_capacities tbody tr {
    border: 1px solid white; }
  #center #focus_capacities tbody tr.covered {
    background-color: #e8e8e8;
    color: #b6b6b6; }
    #center #focus_capacities tbody tr.covered td {
      text-decoration: line-through; }
  #center #focus_capacities tbody tr.normal {
    background-color: #99ccff; }
  #center #focus_capacities tbody tr.high {
    background-color: #ffcc99; }
  #center #focus_capacities tbody tr.top {
    background-color: #ff6666; }
  #center #focus_capacities tbody td {
    font-size: 14pt; }
  #center #AddMoreCapacity {
    margin: 20px 0 0 30px; }
  #center #new_capacity {
    width: 500px;
    margin: 40px auto 0 auto;
    padding: 0 0 15px 0;
    overflow: hidden; }
    #center #new_capacity .form_box {
      margin: 0 10px 0 10px;
      float: left; }
    #center #new_capacity .form_box_right {
      margin: 0 7px 0 0;
      float: right; }
    #center #new_capacity .buttons {
      clear: both;
      float: right;
      margin: 10px; }
    #center #new_capacity form {
      background-color: #e8e8e8; }

#right {
  float: right;
  background-color: white;
  width: 25%;
  height: 510px;
  background: #FFFFFF url(/images/left-bg.gif) repeat-y scroll left center;
  margin: 0 0 0 40px;
  padding: 0 0 0 10px; }

#capacities {
  margin: 10px 0 0 20px; }
  #capacities .capacity {
    min-height: 130px;
    border: 1px solid black;
    margin: 15px 5px 0 0; }
    #capacities .capacity h3 {
      margin: 5px 0 0 5px;
      font-weight: normal;
      font-family: Arial;
      font-size: 14pt; }
  #capacities table {
    margin: 0 0 0 10px;
    width: 90%; }
    #capacities table td {
      font-size: 10pt; }
