#capacities .capacity {
  width: 250px;
  height: 125px;
  margin: 15px 5px 0 12px;
  padding: 2px;
  border: 1px solid black; }
  #capacities .capacity h3 {
    margin: 5px 0 0 5px;
    font-weight: normal;
    font-family: Arial;
    font-size: 14pt; }
    #capacities .capacity h3 a {
      font-size: 16px; }
  #capacities .capacity a {
    font-size: 10px;
    margin: 5px 0 0 4px; }
#capacities table {
  margin: 0 0 0 10px;
  width: 90%; }
  #capacities table td {
    font-size: 10pt; }
#capacities .today {
  border: 3px solid #ff6666; }

#move_forward {
  text-align: center;
  height: 25px;
  width: 100%;
  color: white;
  background-color: #333333;
  padding: 4px 0 0 0;
  margin: 20px 0 0 0; }

#move_back {
  text-align: center;
  height: 25px;
  width: 100%;
  color: white;
  background-color: #333333;
  padding: 4px 0 0 0;
  margin: 0 0 0 0; }
