%a{ :id => 'home', :href => '/'} home 
%a{ :id => 'web_apps', :href => '#'} web apps
%a{ :id => 'calendar', :href => '/calendar'} calendar 
#menu{ :style => 'display:none;' }
  #dock
    .dock_item 
      %a{ :href => 'http://bidstore.gs-enterprises.local' }
        %img{ :src => '/images/bidstore.png' }
        %br
        Bid Store
    .dock_item  
      %a{ :href => 'http://onholiday.gs-enterprises.local' }
        %img{ :src => '/images/onholiday.png' }
        %br
        OnHoliday
    .dock_item 
      %a{ :href => 'http://gsenterprises.presentlyapp.com' }
        %img{ :src => '/images/presently.png' }
        %br
        presently
    .dock_item
      %a{ :href => 'http://mail.gsenterprises.com' }
        %img{ :src => '/images/mail.png' }
        %br
        email
