#focus_capacities
  %h1= @focus_date.strftime("%A %m/%d")
  %table{ :id => "capacity_today_table" }
    %thead
      %tr
        %th Covered
        %th Location
        %th Driver
        %th Notes
    %tbody
      = render focus_capacities.values.flatten
