%table{ :id => "capacity_today_table" }
  %thead
    %tr
      %th Covered
      %th Location
      %th Driver
      %th Notes
      %th{:colspan => '2'} Edit
  %tbody
    - focus_capacities.values.flatten.each do |capacity|
      = render :partial => 'capacities/capacity', :locals => {:capacity => capacity}
