- capacity.covered? ? css_class = "covered" : css_class = ""
%tr{:id => "mini_#{capacity.id}",:class => css_class}
  %td -
  %td.location= shorten(capacity.location, 15) 
  %td.driver= shorten(capacity.drivers.first.name, 10) 
